.burgerButtonContainer
{
    background-color: transparent;

    position: absolute;

    height: 8vh;
    width: 8vh;

    margin: 1vh;
    margin-left: 0;

    z-index: 2;
}

.burgerButtonImage
{
    background-color: transparent;

    position: absolute;

    height: 100%;
    width: 100%;
}