.homeContainer
{
    height: 100vh;
    width: 100%;

    margin: none;
    padding: none;
}

.homeOverlayCardContainer
{
    height: 15%;
    width: 90%;

    padding: 1%;

    display: flex;
    float: left;
    margin: auto;

    border-radius: 1vh;
}

.homeOverlayCard
{
    width: 5%;

    margin-right: 3vh;
}

.homeDownloadLink
{
    height: 15%;
    width: 90%;

    padding: 1%;

    display: flex;
    float: left;
    margin: auto;

    border-radius: 1vh;
}